<div class="container">
  <h1 style="text-align: center; color: #2c3e50; margin-bottom: 30px;">Sistema de Inventario - Actividad de Coworking</h1>
  
  <app-producto-form 
    [productoEdicion]="productoEnEdicion" 
    [codigosExistentes]="codigosExistentes"
    (onSubmitProducto)="manejarSubmit($event)"
    (onCancel)="cancelarEdicion()">
  </app-producto-form>
  
  <app-producto-list 
    [productos]="productos"
    (onEdit)="iniciarEdicion($event)"
    (onDelete)="eliminarProducto($event)">
  </app-producto-list>
</div>
